<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
        <script src="{{ url_for('static', filename='js/header.js') }}"></script>
        <title>Error 404</title>
    </head>
    <header>
        <h1>Laundry Tracker Lite</h1>
        <button class="dropdownButton" id="dropdownButton">{{ session['username'][0] | capitalize }}</button>
        <div id="profileDropdown" class="dropdownContent">
            <p>{{ session['username'] }}</p>
            <a href="{{ url_for('user.editAccount') }}">Edit Account</a><br>
            <a href="{{ url_for('user.logout') }}">Sign Out</a>
            {% if session['admin'] == 1 %}
                <!-- Link to admin page -->
                <br><a href="{{ url_for('main.addMachines') }}">Add Machines</a>
                <!-- Change size of dropdown box -->
                <script>document.getElementById("profileDropdown").classList.add("admin")</script>
            {% endif %}
        </div>
    </header>
    <body>
        <h3>Page not found, 404</h3>
        <p>The page either does not exist or is temporarily unavailable.</p>
    </body>
    <footer>
        <div class="footerLinks">
            <a href="/about">About</a><br>
            <a href="/help">Help</a><br>
            <a href="/reportIssue">Report an Issue</a>
        </div>
    </footer>
</html>