<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="{{ url_for('static', filename='images/theboi.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inputPage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/addMachines.css') }}">
        <script src="{{ url_for('static', filename='js/backButton.js') }}"></script>
        <title>Add Machines</title>
    </head>
    <body>

        <a href="{{ url_for('main.home') }}" id="backButton" onmouseenter="showBackLabel()" onmouseleave="hideBackLabel()">Back</a>

        <div class="position">
            <h1>Add Machines</h1>

            <form onsubmit="return addMachines()" method="post" class="inputForm" autocomplete='off'>

                <label for="machineType">Machine Type:</label>
                <select id="machineType" name="machineType">
                    <option value="Washer">Mixer</option>
                    <option value="Dryer">Mixer</option>
                </select>
                
                <br>

                <label for="roomNumber">Room Number:</label>
                <input type="text" id="roomNumber" name="roomNumber" required />

                <br>

                <label for="machineNum">Machine Number:</label>
                <input type="number" id="machineNum" name="machineNum" required />

                <br>

                <label for="building">Building:</label>
                <select id="building" name="building">
                    <option value="WH">Wads</option>
                    <option value="MH">McNair</option>
                    <option value="DHH">DHH</option>
                </select>

                <br>

                <label for="location">Hall/Location:</label>
                <input type="text" list="prevHalls" id="location" name="location" required />
                <datalist id="prevHalls">
                    {% for hall in locationList %}
                        <option value="{{ hall }}">
                    {% endfor %}
                </datalist>

                <br>
                
                <input type="submit" value="Add Machine" />
            </form>

            <p class="message hidden" id="pMessage">.</p>
            {% if successMessage != False %}
                <script>
                    document.getElementById("pMessage").innerHTML = "{{ successMessage }}"
                    document.getElementById("pMessage").classList.replace("hidden", "visible")
                </script>
            {% endif %}
            {% if machineAlreadyExists == 'True' %}
                <script>
                    document.getElementById("pMessage").innerHTML = "That machine already exists"
                    document.getElementById("pMessage").classList.replace("hidden", "visible")
                </script>
            {% endif %}
        </div>
    </body>
</html>