<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
        <script src="{{ url_for('static', filename='js/checkoutMachine.js') }}"></script>
        <script src="{{ url_for('static', filename='js/checkinMachine.js') }}"></script>
        <title>Home</title>
    </head>
    <header>
        <h1>Laundry Tracker Lite</h1>
        <button onmouseenter="dropdownDown()" class="dropdownButton" id="dropdownButton">{{ session['username'][0] | capitalize }}</button>
        <div onmouseleave="dropdownUp()" id="profileDropdown" class="dropdownContent">
            <p>{{ session['username'] }}</p>
            <a href="{{ url_for('user.editAccount') }}">Edit Account</a><br>
            <a href="{{ url_for('user.logout') }}">Sign Out</a>
            {% if session['admin'] == 1 %}
                <!-- Link to admin page -->
                <br><a href="{{ url_for('main.addMachines') }}">Add Machines</a>
                <!-- Change size of dropdown box -->
                <script>document.getElementById("profileDropdown").classList.add("admin")</script>
            {% endif %}
        </div>
        <img src="{{ url_for('static', filename='images/theboi.png') }}" width="67" height="75" class="logo" id="logoImg">
        <script>document.getElementById('logoImg').addEventListener('click', () => {location.href="{{ url_for('error.teapotPage') }}"})</script>
    </header>
    <body>
        <!-- Machine Displays -->
        {% include "main/myMachines.html" %}
        <hr>
        {% with filter='available' %}
            {% include "main/displayMachines.html" %}
        {% endwith %}
        <hr>
        {% with filter='unavailable' %}
            {% include "main/displayMachines.html" %}
        {% endwith %}

        <!-- Machine Checkout Dialog -->
        <div class="checkoutDialog" id="checkoutDialogDiv"> 
            <h3>Check Out</h3>
            <p>Would you like to check out washer 3 from Wads 335E for one hour?</p>
            <p>Due back at 10:32pm</p>
            <button onclick="closeCheckoutDialog()" class="nobutton">No</button> 
            <button onclick="closeCheckoutDialog()" class="closeButton">&times</button>
            <form action='/checkout/machineId'>
                <input type="submit" value="Yes" class="yesbutton">
            </form>
        </div>
        <!-- Machine Checkin Dialog -->
        <div class="checkinDialog" id="checkinDialogDiv"> 
            <h3>Check In</h3>
            <p>Would you like to check in washer 3 from Wads 335E?</p>
            <button onclick="closeCheckinDialog()" class="nobutton">No</button> 
            <button onclick="closeCheckinDialog()" class="closeButton">&times</button>
            <form action='/checkout/machineId'>
                <input type="submit" value="Yes" class="yesbutton">
            </form>
        </div>
    </body>
    <footer>
        <div class="footerLinks">
            <a href="/about">About</a><br>
            <a href="/help">Help</a><br>
            <a href="/reportIssue">Report an Issue</a>
        </div>
    </footer>
</html>