<!-- TODO whole page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Reset</title>
        <script src="{{ url_for('static', filename='js/accountInfo.js') }}"></script>
    </head>
    <body>
        <form method="post" onsubmit="return validateForm()" action="{{url_for('user.passwordReset')}}">
            <p>Enter Username: <input type="text" name="usernameInput" required></p>
            <p>Enter new password: <input type="password" name="passwordInput" required></p>
            <p>Enter it again: <input type="password" name="confirmPassword" required></p>
            {% if validLogin == "False" %}
                <p style="color:red">That username is invalid.</p>
            {% endif %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>