@import "global.css";

/* Input Icons */
.inputForm #usernameInput {
    background-image : url("https://img.icons8.com/material-outlined/344/user--v1.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}
.inputForm #passwordInput, .inputForm #confirmPassword {
    background-image : url("https://img.icons8.com/fluency-systems-regular/344/lock--v1.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}
.inputForm #emailInput {
    background-image : url("https://img.icons8.com/cotton/344/secured-letter--v3.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}
.inputForm #roomDropdown {
    background-image : url("https://img.icons8.com/ios/344/washing-machine.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}