@import "global.css";

/* Sort Buttons */
.filterButtons {
    position : relative;
    margin-left : 25px;
    margin-top : 5px;
}
.filterButtons .toggleButton {
    width : 75px;
    height : 25px;

    padding : 0px 10px;
    border : 1px solid var(--main-dark);
    border-radius: 25px;
    font-size : 0.85em;

    opacity : 1;
    background-color: var(--main-light);
}
.filterButtons .toggleButton:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}
.filterButtons .dropdownSelect {
    width : 250px;
    height : 25px;

    padding : 0px 10px;
    border : 1px solid var(--main-dark);
    border-radius: 25px;
    text-align: center;
    font-size : 0.85em;
    
    background-color: var(--main-light);
}
.filterButtons .dropdownSelect:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}

/* slider hover color change */
.filterButtons input.timeSlider {
    accent-color: var(--hover-dark);
}
.filterButtons label.timeSlider, .filterButtons output.timeSlider {
    font-size : 0.85em;
}

/* Responsive Layout */
/* Desktop */
@media only screen and (min-width:1024px) and (max-width:1920px) and (min-height:768px) and (max-height:1080px) {
    
}
/* Landscape Tablet */
@media only screen and (min-width:800px) and (max-width:1280px) and (min-height:601px) and (max-height:962px) and (orientation:landscape) {
    
}
/* Portrait Tablet */
@media only screen and (min-width:601px) and (max-width:962px) and (min-height:800px) and (max-height:1280px) and (orientation:portrait) {
    
}
/* Landscape Mobile */
@media only screen and (min-width:640px) and (max-width:896px) and (min-height:360px) and (max-height:414px) and (orientation:landscape) {
    
}
/* Portrait Mobile */
@media only screen and (min-width:360px) and (max-width:414px) and (min-height:640px) and (max-height:896px) and (orientation:portrait) {
    .filterButtons {
        margin : 0px;
    }
    .filterButtons > #WasherToggle {
        margin-left : calc((100vw - 75px - 75px - 20px)/2);
        margin-right : 5px;
    }
    .filterButtons > #DryerToggle {
        margin-left : 5px;
        margin-right : calc((100vw - 75px - 75px - 20px)/2);
    }
    .filterButtons > #roomDropdown {
        margin : 0px calc((100vw - 250px)/2);
    }
}