@import "global.css";

/* Sort Buttons */
.filterButtons {
    position : relative;
    margin-left : 25px;
    margin-top : 5px;
}
.filterButtons .toggleButton {
    width : 75px;
    height : 25px;

    padding : 0px 10px;
    border : 1px solid var(--main-dark);
    border-radius: 25px;
    font-size : 0.85em;

    opacity : 1;
    background-color: var(--main-light);
}
.filterButtons .toggleButton:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}
.filterButtons .dropdownSelect {
    width : 250px;
    height : 25px;

    padding : 0px 10px;
    border : 1px solid var(--main-dark);
    border-radius: 25px;
    text-align: center;
    font-size : 0.85em;
    
    background-color: var(--main-light);
}
.filterButtons .dropdownSelect:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}

/* slider hover color change */
.filterButtons input.timeSlider {
    accent-color: var(--hover-dark);
}
.filterButtons label.timeSlider, .filterButtons output.timeSlider {
    font-size : 0.85em;
}

