/* Global Colors */
:root {
    --background-color    : rgb(250, 248, 241);
    --dark-text           : rgb(  0,   0,   0);
    --light-text          : rgb(255, 255, 255);
    
    --main-dark           : rgb( 17,  17,  17);
    --hover-dark          : rgb( 25,  25,  25);
    --main-light          : rgb(248, 215,  75);
    --hover-light         : rgb(211, 178,  59);

    --contrast            : rgb(221, 239, 246);
    --hover-contrast      : rgb(195, 226, 239);
    --contrast-dark       : rgb( 65, 152, 199);
    --hover-contrast-dark : rgb( 98, 170, 208);
}

/* Global Fonts */
body {
    font-family : Verdana, Tahoma, sans-serif;
    font-size : 100%;
    color : var(--dark-text);

    background-color: var(--background-color);
}
h1, h2 {
    font-family : Georgia, 'Times New Roman', Times, serif;
    font-size : 2em;
}