@import "global.css";

/* Header */
header {
    background-color : var(--main-dark);
    width : 100%;
    height : 120px;
    position : relative;
}
header > h1 {
    text-align: center;
    margin : 0px;
    padding : 40px 0px;
    color : var(--light-text);
}
.logo {
    position : absolute;
    top : calc((120px - 75px)/2);
    left : calc((120px - 75px)/2);

    width : 67px;
    height : 75px;
}

/* Dropdown Button */
.dropdownButton {
    background-color: var(--main-light);
    width : 50px;
    height : 50px;
    border-radius: 50%;
    border : none;

    position : absolute;
    top : 16px;
    right : 16px;
    z-index: 100;

    font-size: 1.5em;
}
.dropdownButton:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}

/* Dropdown Content */
.dropdownContent {
    background-color: var(--main-light);

    padding : 20px;
    padding-right : 4em;
    border-radius : 25px 25px 25px 25px;

    width : 120px;
    --dropdownHeight : 50px;
    height : var(--dropdownHeight);
    
    position : absolute;
    top : 16px;
    right : 16px;

    display : none;
    animation-duration : 0.5s;
    animation-direction: normal;
    animation-fill-mode: both;
}

.dropdownContent.admin {
    --dropdownHeight : 75px;
}

.dropdownContent a {
    text-decoration : none;
    color : var(--dark-text);
}
.dropdownContent a:hover {
    color : var(--main-dark);
}
.dropdownContent p {
    margin : 0px;
    font-weight : bold;
}

@keyframes dropdownAnimation {
    0% {
        display : block;
        padding : 0px;
        padding-right : 0px;
        border-radius : 0px 25px 0px 0px;
        font-size: 0em;
        width : 0px;
        height : 0px;
    }
    50% {
        font-size: 0.7em;
    }
    100% {
        padding : 20px;
        padding-right : 4em;
        border-radius : 25px 25px 25px 25px;
        width : 120px;
        height : var(--dropdownHeight);
    }
}

@keyframes dropupAnimation {
    0% {
        display : block;
        padding : 20px;
        padding-right : 4em;
        border-radius : 25px 25px 25px 25px;
        width : 120px;
        height : var(--dropdownHeight);
    }
    20% {
        font-size: 0.7em;
    }
    100% {
        display : none;
        padding : 0px;
        padding-right : 0px;
        border-radius : 0px 25px 0px 0px;
        font-size: 0em;
        width : 0px;
        height : 0px;
    }
}

/* Responsive Layout */
/* Desktop */
@media only screen and (min-width:1024px) and (max-width:1920px) and (min-height:768px) and (max-height:1080px) {
    header {
        background-color: purple;
    }
}
/* Landscape Tablet */
@media only screen and (min-width:800px) and (max-width:1280px) and (min-height:601px) and (max-height:962px) and (orientation:landscape) {
    header {
        background-color: blue;
    }
}
/* Portrait Tablet */
@media only screen and (min-width:601px) and (max-width:962px) and (min-height:800px) and (max-height:1280px) and (orientation:portrait) {
    header {
        background-color: red;
    }
}
/* Landscape Mobile */
@media only screen and (min-width:640px) and (max-width:896px) and (min-height:360px) and (max-height:414px) and (orientation:landscape) {
    header {
        background-color: orange;
        height : 75px;
    }
    header > h1 {
        padding : 20px 0px;
    }
    .logo {
        top : calc((75px - 75px)/2);
        left : calc((85px - 75px)/2);
    }
}
/* Portrait Mobile */
@media only screen and (min-width:360px) and (max-width:414px) and (min-height:640px) and (max-height:896px) and (orientation:portrait) {
    header {
        background-color: green;
        height : 85px;
        top : calc((85px - 75px)/2);
        left : calc((85px - 75px)/2);
    }
    header > h1 {
        padding-left : 40px;
        padding-right : 100px;
        padding-top : 5px;
        padding-bottom : 5px;
    }
    .logo {
        width : 45px;
        height : 50px;
        top : 2px;
        left : 2px;
    }
}