@import "global.css";

/* Column Layout */
body {
    display : flex;
    flex-flow : row nowrap;
    margin : 0px;
}
.leftCol {
    flex : 60%;
    height : 100vh;
    position : relative;

    background-color : var(--main-dark);
    color : var(--light-text);
}
.rightCol {
    flex : 30%;
    height : 100vh;

    background-color : var(--background-color);
}

/* Left Side */
.leftCol > h1 {
    display : flex;
    align-items : center;
    justify-content : center;
    text-align : center;
    margin : auto;
    position : absolute;
    top : 0; left : 0; bottom : 0; right : 0;

    font-size : 4em;
}

/* Right Side */
.rightCol > .position {
    position : relative;
    display : flex;
    height : 100%;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.rightCol > .position > h2 {
    margin : 0px;
}

.rightCol > .position .inputForm {
    width : 80%;
}

/* Icons */
.inputForm #usernameInput {
    background-image : url("https://img.icons8.com/material-outlined/344/user--v1.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}
.inputForm #passwordInput {
    background-image : url("https://img.icons8.com/fluency-systems-regular/344/lock--v1.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}

/* Forgot Password Button */
button.forgotPassword {
    position : relative;
    bottom : 126px;
    left : 80%;
    width : 20%;
    
    font-size : 0.8em;
    padding : 0px 5px;
    height : 40px;
    
    background-color : transparent;
    border-width : 0px;
    
    color : var(--main-dark);
}
button.forgotPassword:hover {
    color : var(--hover-dark);
    cursor : pointer;
}
form.forgotPassword {
    padding : 0px;
    margin : 0px;
    height : 0px;
    width : calc(64% + 49px);
}

/* Sign Up & Login Button */
button.signUp, .rightCol > .position input[type=submit] {
    width : 10vw;
    margin-top : 25px;
    padding : 10px 0px;

    font-size : 1em;
    border-width : 2px solid var(--main-dark);
    border-radius: 5px;
}
form.signUp {
    width : 0px;
    height : 0px;
    margin : 0px;
    padding : 0px;
}
button.signUp {
    position: relative;
    bottom : 86px;
    right : 11vw;

    background-color: var(--main-light);
}
button.signUp:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}
.rightCol > .position input[type=submit] {
    position: relative;
    left : 15vw;

    background-color: var(--main-light);
}
.rightCol > .position input[type=submit]:hover {
    background-color: var(--hover-light);
    cursor : pointer;
}


/* Responsive Layout */
/* Landscape Tablet */
@media only screen and (min-width:800px) and (max-width:1280px) and (min-height:601px) and (max-height:962px) and (orientation:landscape) {
    button.forgotPassword {
        left : 75%;
    }
    .leftCol {
        flex : 50%;
    }
    .rightCol {
        flex : 50%;
    }
    .rightCol .position .inputForm > input[type=submit], .rightCol .position button.signUp {
        /* width : 38vw; */
        width : 15vw;
    }
    .rightCol .position .inputForm > input[type=submit] {
        position : relative;
        left : 3vw;
    }
    .rightCol .position button.signUp {
        position : relative;
        left : 2vw;
    }
}
/* Portrait Tablet */
@media only screen and (min-width:601px) and (max-width:962px) and (min-height:800px) and (max-height:1280px) and (orientation:portrait) {
    body {
        display : block;
    }
    .leftCol {
        height : 30vh;
    }
    .rightCol {
        height : 65vh;
    }
    .rightCol > .position {
        justify-content : flex-start;
        padding-top : 5vh;
    }
    .rightCol .position .inputForm > input[type=submit], .rightCol .position button.signUp {
        width : 28vw;
        height : 41.5px;
    }
    .rightCol .position .inputForm > input[type=submit] {
        position : absolute;
        top : 235px;
        left : 19vw;
    }
    .rightCol .position button.signUp {
        position : absolute;
        top : 235px;
        left : 53vw;
    }
    button.forgotPassword {
        bottom : 60px;
    }
}
/* Landscape Mobile */
@media only screen and (min-width:640px) and (max-width:896px) and (min-height:360px) and (max-height:414px) and (orientation:landscape) {
    .leftCol {
        flex : 35%;
    }
    .rightCol {
        flex : 65%;
    }
    .leftCol > h1 {
        font-size : 2.5em;
    }
    .rightCol .position .inputForm > input[type=submit], .rightCol .position button.signUp {
        width : 20vw;
        height : 41.5px;
    }
    .rightCol .position .inputForm > input[type=submit] {
        position : absolute;
        top : 66vh;
        left : 11vw;
    }
    .rightCol .position button.signUp {
        position : absolute;
        top : 66vh;
        left : 34vw;
    }
    button.forgotPassword {
        bottom : 132px;
    }
}
/* Portrait Mobile */
@media only screen and (min-width:360px) and (max-width:414px) and (min-height:640px) and (max-height:896px) and (orientation:portrait) {
    body {
        display : block;
    }
    .leftCol {
        height : 30vh;
    }
    .rightCol {
        height : 65vh;
    }
    .leftCol > h1 {
        font-size : 3em;
    }
    .rightCol .position .inputForm > input[type=submit], .rightCol .position button.signUp {
        /* width : 80vw; */
        width : 32vw;
        height : 41.5px;
    }
    .rightCol .position .inputForm > input[type=submit] {
        position : absolute;
        top : 45vh;
        left : 16vw;
    }
    .rightCol .position button.signUp {
        position : absolute;
        top : 45vh;
        left : 54vw;
    }
    button.forgotPassword {
        bottom : 132px;
    }
}