@import "global.css";

/* Machine Info Block */
/* Available Machines */
.availableMachineBlock, .unavailableMachineBlock {
    position : relative;
    width : 140px;
    height : 210px;
    margin : 30px;
}
.availableMachineBlock > h3, .unavailableMachineBlock > h3 {
    position : relative;
    width : 100%;
    margin : 0px;

    padding : 10px 0px;
    text-align : center;
}
.availableMachineBlock img {
    position : absolute;
    left : 27px;
    top : 40px;

    width : 86px;
    height : 100px;
}
.availableMachineBlock .machineType {
    position : absolute;
    top : 145px;
    margin : 0px;

    width : 100%;
    text-align: center;
}
.availableMachineBlock .machineLocation {
    position : absolute;
    top : 170px;
    margin : 0px;

    width : 100%;
    text-align: center;
    font-size: 0.75em;
}
.availableMachineBlock:hover > .backgroundHighlight {
    position : absolute;
    z-index: -1;
    top : 0px;
    left : 0px;
    margin : 0;

    width : 140px;
    height : 210px;

    background-color: var(--main-light);
}
.availableMachineBlock > button:hover {
    background-color: var(--hover-dark);
    cursor : pointer;
}


/* Unavailable Machines */
.unavailableMachineBlock > p.timeRemaining {
    position : absolute;
    left : 0px;
    top : 35px;
    margin : 0px;

    width : 100%;
    text-align: center;
    font-size: 0.75em;
}
.unavailableMachineBlock progress.timeRemaining {
    margin : 5px 0px;
    width : 100%;

    accent-color : var(--main-dark);
}
.unavailableMachineBlock img {
    position : absolute;
    left : 27px;
    top : 65px;

    width : 86px;
    height : 100px;
}
.unavailableMachineBlock .machineType {
    position : absolute;
    top : 170px;
    margin : 0px;
    
    width : 100%;
    text-align: center;
}
.unavailableMachineBlock .machineLocation {
    position : absolute;
    top : 195px;
    margin : 0px;
    
    width : 100%;
    text-align: center;
    font-size: 0.75em;
}


/* Grid Layout */
.gridContainer {
    display : grid;
    grid-template-columns : auto auto auto auto auto auto auto;
}


/* Responsive Layout */
/* Desktop */
@media only screen and (min-width:1024px) and (max-width:1180px) and (min-height:768px) and (max-height:1080px) {
    .gridContainer {
        grid-template-columns : auto auto auto auto auto;
    }
}
@media only screen and (min-width:1181px) and (max-width:1380px) and (min-height:768px) and (max-height:1080px) {
    .gridContainer {
        grid-template-columns : auto auto auto auto auto auto;
    }
}
@media only screen and (min-width:1381) and (max-width:1580px) and (min-height:768px) and (max-height:1080px) {
    .gridContainer {
        grid-template-columns : auto auto auto auto auto auto auto;
    }
}
@media only screen and (min-width:1581) and (max-width:1920px) and (min-height:768px) and (max-height:1080px) {
    .gridContainer {
        grid-template-columns : auto auto auto auto auto auto auto auto;
    }
}
/* Landscape Tablet */
@media only screen and (min-width:800px) and (max-width:1000px) and (min-height:601px) and (max-height:962px) and (orientation:landscape) {
    .gridContainer {
        grid-template-columns : auto auto auto auto;
    }
}
@media only screen and (min-width:1001px) and (max-width:1200px) and (min-height:601px) and (max-height:962px) and (orientation:landscape) {
    .gridContainer {
        grid-template-columns : auto auto auto auto auto;
    }
}
@media only screen and (min-width:1201px) and (max-width:1280px) and (min-height:601px) and (max-height:962px) and (orientation:landscape) {
    .gridContainer {
        grid-template-columns : auto auto auto auto auto auto;
    }
}
/* Portrait Tablet */
@media only screen and (min-width:601px) and (max-width:800px) and (min-height:800px) and (max-height:1280px) and (orientation:portrait) {
    .gridContainer {
        grid-template-columns : auto auto auto;
    }
}
@media only screen and (min-width:801px) and (max-width:962px) and (min-height:800px) and (max-height:1280px) and (orientation:portrait) {
    .gridContainer {
        grid-template-columns : auto auto auto auto;
    }
}
/* Landscape Mobile */
@media only screen and (min-width:640px) and (max-width:750px) and (min-height:360px) and (max-height:414px) and (orientation:landscape) {
    .gridContainer {
        grid-template-columns : auto auto auto;
    }
}
@media only screen and (min-width:751px) and (max-width:896px) and (min-height:360px) and (max-height:414px) and (orientation:landscape) {
    .gridContainer {
        grid-template-columns : auto auto auto auto;
    }
}
/* Portrait Mobile */
@media only screen and (min-width:360px) and (max-width:414px) and (min-height:640px) and (max-height:896px) and (orientation:portrait) {
    .gridContainer {
        grid-template-columns : auto auto;
    }
}