@import "global.css";

/* Center Submit Button */
.inputForm input[type=submit] {
    margin-left : calc(50% - (35%/2));
}

/* Warning Label */
.warningLabel {
    text-align : center;
    color : var(--contrast-dark);
}

/* Input field icon */
.inputForm #usernameInput {
    background-image : url("https://img.icons8.com/material-outlined/344/user--v1.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}
.inputForm #passwordInput, .inputForm #confirmPassword {
    background-image : url("https://img.icons8.com/fluency-systems-regular/344/lock--v1.png");
    background-repeat : no-repeat;
    background-size : calc(1em + 10px);
    background-position : 5px;
}