<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="{{ url_for('static', filename='images/theboi.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footerPages.css') }}">
        <script src="{{ url_for('static', filename='js/header.js') }}"></script>
        <title>About</title>
    </head>
    <header>
        <h1 class="aboutHeader">Laundry Tracker Lite</h1>
        <button class="dropdownButton" id="dropdownButton">{{ session['username'][0] | capitalize }}</button>
        <div id="profileDropdown" class="dropdownContent">
            <p>{{ session['username'] }}</p>
            <a href="{{ url_for('user.editAccount') }}">Edit Account</a><br>
            <a href="{{ url_for('user.logout') }}">Sign Out</a>
            {% if session['admin'] == 1 %}
                <!-- Link to admin page -->
                <br><a href="{{ url_for('main.addMachines') }}">Add Machines</a>
                <!-- Change size of dropdown box -->
                <script>document.getElementById("profileDropdown").classList.add("admin")</script>
            {% endif %}
        </div>
    </header>
    <body class="aboutBody">
        <h1>About the Creators</h1>
        <p class="aboutParagraph">
            This website was created as a part of Michigan Technological University's Team Software Project class by the members of Team 7, who are the following: Emilie Rummer, 
            Colton Sitts, Tristan Sorenson, and Jacob Suiter.  We developed this website because we saw an opportunity to create something for the student community at Tech.  We hope
            the experience of using our website is enjoyable.  Thank you.
        </p>
    </body>
    <footer style="position:absolute">
        <div class="footerLinks">
            <a href="/about">About</a><br>
            <a href="/help">Help</a><br>
            <a href="/reportIssue">Report an Issue</a>
        </div>
    </footer>
</html>
