<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/inputPage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/accountInfo.css') }}">
        <script src="{{ url_for('static', filename='js/backButton.js') }}"></script>
        <script src="{{ url_for('static', filename='js/accountInfo.js') }}"></script>
        {% if requestType == "signup" %}
            <title>Sign Up</title>
        {% elif requestType == "edit" %}
            <title>Edit Account</title>
        {% endif %}
    </head>
    <body>
        <div class="position">
            {% if requestType == "signup" %}
                <a href="{{ url_for('index') }}" id="backButton" onmouseenter="showBackLabel()" onmouseleave="hideBackLabel()">Back</a>
                <h1>Sign Up</h1>
            {% elif requestType == "edit" %}
                <a href="{{ url_for('home') }}" id="backButton" onmouseenter="showBackLabel()" onmouseleave="hideBackLabel()">Back</a>
                <h1>Edit Account</h1>
            {% endif %}
            <form id="form" onsubmit="return validateForm()" method="post" class="inputForm" autocomplete='off'>
                {% if userData %}
                    <!--keeps track of the old email so we know which record to update in the database-->
                    <input type="hidden" name="oldEmail" value="{{ userData['email'] }}" required>
                {% endif %}
                <label for="emailInput">Email:</label>
                <input type="email" id="emailInput" name="email" {% if userData %}value="{{ userData['email'] }}"{% endif %} required>
                
                {% if status_code == "1" %}
                    <p id="invalidMessage">That email already has an account.</p>
                    <script>positionMessage()</script>
                {% elif status_code == "2" %}
                    <p id="invalidMessage">That username already has an account.</p>
                    <script>positionMessage()</script>
                {% elif status_code == "3" %}
                    <p id="invalidMessage">That email and username already has an account.</p>
                    <script>positionMessage()</script>
                {% endif %}

                {% if emailValid == "False" %}
                    <p id="invalidMessage">That email is invalid.</p>
                    <script>positionMessage()</script>
                {% endif %}

                <label for="usernameInput">Username:</label>
                <input type="text" id="usernameInput" name="username" {% if userData %}value="{{ userData['username'] }}"{% endif %} required>
                
                <label for="passwordInput">Password:</label>
                <input type="password" id="passwordInput" name="password" required>
                
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="passwordConfirm" required>
                
                <label for="roomDropdown" class="roomDropdown">Preferred Laundry Room:</label>
                <select id="roomDropdown" name="preferredRoom">
                    {% for room in roomList %}
                        {% if( (userData) and (room == userData['preferredRoom']) ) %}
                            <option value='{{ room }}' selected>{{ room }}</option>
                        {% else %}
                            <option value='{{ room }}'>{{ room }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                
                {% if requestType == "signup" %}
                    <a href="{{ url_for('index') }}">Cancel</a>
                    <input type="submit" value="Sign Up">
                {% elif requestType == "edit" %}
                    <a href="{{ url_for('home') }}">Cancel</a>
                    <input type="submit" value="Save Changes">
                {% endif %}
            </form>
            {% if requestType == "signup" %}
                <script>document.getElementById('form').action="{{ url_for('signup') }}"</script>
            {% elif requestType == "edit" %}
                <script>document.getElementById('form').action="{{ url_for('editAccount') }}"</script>
                <button class="deleteAccountButton" onclick="showDeleteAccountPopup()">Delete Account</button>
                <div class="deleteAccountPopup" id="delAccPopupDiv">
                    <h3>Delete Account</h3>
                    <p>Would you like to delete your account?</p>
                    <p>This is PERMANENT</p>
                    <button onclick="hideDeleteAccountPopup()" class="noButton">No</button>
                    <form action='{{ url_for('deleteAccount') }}' method="post">
                        <!--keeps track of the old email so we know which record to update in the database-->
                        <input type="hidden" name="email" value="{{ userData['email'] }}" required>
                        <input type="submit" value="Yes" class="yesButton">
                    </form>
                    <button onclick="hideDeleteAccountPopup()" class="closeButton">X</button>
                </div>
            {% endif %}
        </div>
    </body>
</html>