<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footerPages.css') }}">
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
        <title>Help</title>
    </head>
    <header>
        <h1>Laundry Tracker Lite</h1>
        <button onmouseenter="dropdownDown()" class="dropdownButton" id="dropdownButton">{{ session['username'][0] | capitalize }}</button>
        <div onmouseleave="dropdownUp()" id="profileDropdown" class="dropdownContent">
            <p>{{ session['username'] }}</p>
            <a href="{{ url_for('editAccount') }}">Edit Account</a><br>
            <a href="{{ url_for('logout') }}">Sign Out</a>
            {% if session['admin'] == 1 %}
                <!-- Link to admin page -->
                <br><a href="{{ url_for('addMachines') }}">Add Machines</a>
                <!-- Change size of dropdown box -->
                <script>document.getElementById("profileDropdown").classList.add("admin")</script>
            {% endif %}
        </div>
    </header>
    <body>
        <h1>Get Help Here</h1>
        <h3>How to Check Out a Machine</h3>
        <p>
            If you want to check out a machine, make sure you have the correct laundry room selected in the drop down menu above the machines.  If you do, click on a machine you want 
            to check out.  A message should pop up on your screen in a blue box asking you to confirm.  Click yes to check out the machine.  You know have this machine for 1 hour.
            When the progress bar is full and says its done, click "Check In" to check the machine back in for other people to use.
        </p>
        <h3>How to Change Your Password</h3>
        <p>
            If you want to change your passord, go to the menu in the top right corner of the website.  It should have the initial of your username in it.  Click "edit account" admin
            you will be taken to a new page.  This page has all of your account info on it, which you can edit.  In the boxes labelled "Password" and "Confirm Password" enter your new
            password and click "Save Changes" at the bottom of the page.  Now your password should be changed.
        </p>
    </body>
</html>