<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <title>Login</title>
    </head>
    <body>
        <div class="leftCol">
            <h1>Laundry<br>Tracker<br>Lite</h1>
        </div>
        <div class="rightCol">
            <div class="position">
                <h2>Sign In</h2>
                <form action="login" method="post" class="inputForm">
                    <label for="usernameInput">Username:</label>
                    <input type="text" id="usernameInput" name="username" required>
                    <br>
                    <label for="passwordInput">Password:</label>
                    <input type="password" id="passwordInput" name="password" required>
                    <br>
                    <input type="submit" value="Login">
                </form>
                {% if validLogin == "False" %}
                    <span id="invalidMessage">Invalid email or password</span> 
                    <script>positionMessage()</script>
                {% endif %}
                <br>
                <form action="/signup" class="signUp"><button type="submit" class="signUp">Sign Up</button></form>
                <form action="passwordReset" class="forgotPassword"><button type="submit" class="forgotPassword">Forgot?</button></form>
            </div>
        </div>
    </body>
</html>