<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/myMachines.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/runningMachineAnimation.css') }}">
        <script src="{{ url_for('static', filename='js/myMachines.js') }}"></script>
        <script src="{{ url_for('static', filename='js/checkinMachine.js') }}"></script>
        <title>My Machines</title>
    </head>
    <body>
        <h2>My Machines</h2> 
        {% for machine in userMachines | sort(attribute='time-remaining') %}
            <div class="machineInfo">
                {% if machine['machine-type'] == 'Washer' %}
                    <img src="{{ url_for('static', filename='images/full_washer_icon.png') }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/full_dryer_icon.png') }}">
                {% endif %}

                <p class="info"></p>
                <script>document.currentScript.previousElementSibling.innerHTML = "{{ machine['machine-type'] }} " + getNumber("{{ machine['machine-id'] }}") + " - " + getRoom("{{ machine['machine-id'] }}") + " ({{ machine['location'] }})"</script>

                {% if machine['time-remaining'] == 0 %}
                    <p class="timeRemainingDone">Done</p>
                    <progress class="timeRemainingDone" id="progressBar" value="60" max="60"></progress>
                    <div class="doneHighlight"></div>
                    <button type="button" id="checkoutButton" onclick='showCheckinDialog("{{ machine }}")'>Check In</button>
                {% else %}
                    <p class="timeRemaining">{{ machine['time-remaining'] }} minutes remaining</p>
                    <progress class="timeRemaining" id="progressBar" value="{{ 60 - machine['time-remaining'] }}" max="60"></progress>
                    <script>document.currentScript.parentElement.firstElementChild.classList.add('running')</script>
                {% endif %}
            </div>
            <br><br>
        {% endfor %}
    </body>
</html>