<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/verifyEmail.css') }}">
        <title>Email Verification</title>
    </head>
    <body>
    <div class="position" id="verifyEmailDiv">
        <p>You should recieve an email with a code soon.<br>Please enter it here to verify your email address.<br>Then hit enter to finish verifying your account.</p>
        <form action="{{url_for('verify')}}", method="post" class="inputForm">
            <label for="codeInput">Enter Code: </label>
            <input type="text" id="codeInput" name="codeInput">
            <input type="submit" value="Submit">            
        </form>
        {% if validCode == "False" %}
                <p>Invalid Code.</p>
        {% endif %}
    </div>
    </body>
</html>